h1{
    text-align: center;

}

.ColDiv{
    border: 1px black solid;
    padding: 5px 51px 51px;
    margin-bottom: 30px
}

.text-center{
    font-weight: bold;
}

.class-link{
    margin-right: 10px;
}